{
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "trailingComma": "all",
  
    "importOrder": [
      "^((?!@|.).)*$",
      "^@((?!env).)*$",
      "^[./]"
    ],
  
    "importOrderSeparation": true
}
  